
.sidebar{ 
    width: 40vh;
    height:100vh;
    background-color: rgb(233, 210, 210);
    box-shadow: 2px 2px 20px rgba(87, 85, 85, 0.446);
    position: fixed;
    overflow: scroll;
}
*::-webkit-scrollbar{
    width: 7px;
}
*::-webkit-scrollbar-track{
    background:transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: antiquewhite;
    border-radius: 10px;
    border: transparent;
}
.displayleftside{
    transform:translateX(-250px);
    transition: all 500ms;
}
.displayunleftside{
    transform:translateX(0px);
    transition: all 500ms;

}
.rightside{
    padding-right: 290px;
}
.rightsideopacity{
    opacity: 70%;
    transition: all 500ms;

}